langgraph
langchain
langchain-community
langchain-core

fastapi
uvicorn

google-api-python-client
google-auth-httplib2
google-auth-oauthlib

python-dotenv
pydantic
sqlalchemy

streamlit

ollama
dateparser[search]